<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrazione Sviluppatore</title>
    <link rel="stylesheet" href="css/cssBootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/stile.css">
    <script defer src="js/bootstrap.bundle.min.js"></script>

</head>

<body>

	<h1>Registrazione nuovo utente</h1>
		<form th:action="@{/register/developer}" method="POST" 	enctype="multipart/form-data">
			<div>
				<label>Nome</label>
				<span><input type="text" placeholder="nome" required th:field="${developer.name}" /></span>
				<span th:if="${#fields.hasErrors('developer.name')}" th:errors="${developer.name}" th:style="'color:red'">
				</span>
			</div>
			<div>
				<label>Cognome</label>
				<span><input type="text" placeholder="cognome" required th:field="${developer.surname}" /></span>
				<span th:if="${#fields.hasErrors('developer.surname')}" th:errors="${developer.surname}" th:style="'color:red'">
				</span>
			</div>
			<div>
				<label>Compagnia</label>
				<span><input type="text" placeholder="compagnia" required th:field="${developer.company}" /></span>
				<span th:if="${#fields.hasErrors('developer.company')}" th:errors="${developer.company}" th:style="'color:red'">
				</span>
			</div>
			<label>Logo</label>
			         <span><input type="file" name="logo" /></span>
			     </div>
			<div>
				<button type="submit">Registra</button>
			</div>
		</form>
</html>