.background{
    background:#16161a;
}


.col{
    background-color: darkblue;
    margin-top: 50px;
    height: 100px;
    border-radius: 10px;
    border-color: aliceblue;
}

.row{
    flex: auto;
    flex-direction: row;
    gap: 60px;
}


.row-cols-4{
    flex: auto;
    flex-direction: row;
    gap: 30px;
}

.gamesGrid .col {
    height: 70px;
}

.gamesGrid  {
  margin-left: 200px;
}

.gamesGrid .row .row-cols-4{
    flex: auto;
    flex-direction: row;
    gap: 30px;
    margin-left: 0px;
}

.carousel-inner{
    background: red;
    height: 300px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 80px;
}