.background{
    background:#222233;
}




.coluno{
    background-color: #343445;
}

.row{
    flex: auto;
    flex-direction: row;
    gap: 60px;
}


.row-cols-4{
    flex: auto;
    flex-direction: row;
    gap: 30px;
}

.gamesGrid .col {
    height: 70px;
}

.gamesGrid  {
  margin-left: 200px;
}

.gamesGrid .row .row-cols-4{
    flex: auto;
    flex-direction: row;
    gap: 30px;
    margin-left: 0px;
}

.carosello2{

    height: 400px;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
    width: auto;
}
.carosello1{
    width: 100%;
    height: 500px; /* Altezza della classe */
    color: black; /* Colore del testo */
    justify-content: end;
}

.gioco{
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

}

.carta-testo{
   color: white;
}

.c-item{
    height: 480;
}

.c-img{
  height: 100%;
  object-fit: cover;
}
.c-img-game{
    height: 200;
}

.bottone{
   width: 20%;
   height: 100px;
}
