<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VAPORE Customer</title>
     <link rel="stylesheet" href="css/cssBootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/stile.css">
    <link rel="stylesheet" href="css/icons/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css">

    <script defer src="js/bootstrap.bundle.min.js"></script>

</head>
<body class="background">

  
  
  
  <nav class="navbar navbar-expand-lg  coluno">
    <div class="container coluno">
      <a class="navbar-brand " >VAPORE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active bi bi-house" aria-current="page" href="/"></a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2 " style="text-decoration: white;" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit" >Search</button>
        </form>
		<div>
		     <div th:if="${userPrincipal == null}">
	           <a class="btn bi bi-person-circle ms-1" style="background-color: white;" th:href="@{/login}">Login</a>
	          </div>
	         <div th:if="${userPrincipal != null}">
	           <a class="btn bi bi-person-circle ms-1" style="background-color: white;" th:href="@{/myPage}">My Page</a>
		     </div>
		 </div>
        <a class="btn  bi bi-cart2 ms-1" style="background-color: white;" href="/cart"></a>

      </div>
    </div>
  </nav>
   
   
       

  <div class="container my-5 coluno " style="border-radius: 20px; border-color: white; border-style: double;">
        
        
        <div class="row justify-content-center" style="background-image: url(/images/profio.jpg);">
            
            
            <div class="col-lg-4 col-md-6 grid-item my-4 ">
                <img class="img-fluid w-100 mb-3 img-thumbnail shadow-sm rounded-0" src="/images/uomo.jpg" style="width:10%; height: auto;">
                <h1 class="display-4 coluno my-3 ms-3" style="color: white;">
                    Nome utente
                </h1>
        

            </div>
        </div>
        
  </div>

  <section id="descrizione">
      <div class="container coluno my-5" style="border-radius: 20px; border-color: white; border-style: double;">
        <h4 class="display-4" style="color: white;" >Informazioni sul profilo</h4>
        <h6 class="display-6 carta-testo">Data di nascita:</h6>
        <button type="button" class="btn btn-outline-primary my-3 bi bi-cart2" >Carrello</button>
        <button type="button" class="btn btn-outline-primary my-3 bi bi-currency-exchange"> Add Founds</button>
      </div>
    </section>


    


    
  <section id="chisiamo">
      <div class="container coluno" >
        <h1 class="display-3" style="text-decoration: overline; color: white;">Chi siamo?</h1>
        <p class="small" style="color: white; font-style: italic;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates assumenda dignissimos aperiam sit, cum reiciendis. Aliquid necessitatibus aut at vel voluptas, veniam consectetur tempora eos corporis officiis provident itaque alias?</p>
      </div>
    </section>

</body>

</html>
