<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VAPORE Developer</title>
    <link rel="stylesheet" href="css/cssBootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/stile.css">
    <link rel="stylesheet" href="css/icons/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css">
    <script defer src="js/bootstrap.bundle.min.js"></script>

</head>
<body class="background">

  
 
  
  <nav class="navbar navbar-expand-lg  coluno">
    <div class="container coluno">
      <a class="navbar-brand carta-testo" >VAPORE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active bi bi-house" aria-current="page" style="color: white;" href="/"></a>
          </li>
        </ul>
		<div class="row ">
					
				    <div class="col d-flex justify-content-end">
					    <a class="btn bi bi-arrow-return-right" style="background-color: white;" href="/logout"></a>
					</div>

				</div>

        
    </div>
  </nav>
   
   
       

  <div class="container my-5 coluno " style="border-radius: 20px; border-color: white; border-style: double; background-image: url(/images/fabbrica.jpg);   background-size: cover;">
        
        <div class="row justify-content-center" >
      
            <div class="col-lg-7 text-center my-5 ms-5 " >
   	            <span><img width="50%" th:src=${user.logo} class="my-3 img-fluid img-thumbnail" style="border-radius: 20px;"/></span>
                <h4 class="display-2  " style="color: white;background-color:  rgb(37, 150, 190,0.8); border-radius: 15px;" th:text="${user.name} +' ' +  ${user.surname}" ></h1>

        	</div>
            
        </div>
        
  </div>

  <section id="descrizione">
      <div class="container  my-5 p-3" style="border-radius: 20px; border-color: white; border-style: double; background-color:  rgb(37, 150, 190,0.6);">
        <h4 class="display-4" style="color: white;" >Informazioni sul profilo</h4>
        <h6 class="display-6 carta-testo" th:text="'Bio: ' + ${user.description}"></h6>
        <h6 class="display-6 d-inline carta-testo" >Sito Compagnia:</h6>
        <a href="#" class=" display-6 d-inline carta-testo  " th:href="${user.site_url}" target="_blank"><h5 class="d-inline">Visita il nostro sito</h5></a>

      
      </div>
    </section>

      
      	<!--giochi-->
      <section id="giochi">
        <div class="container text-center  coluno my-5" style="border-radius: 20px; border-color: white; border-style: double;">
        <div class="row  mt-1 coluno " style="border-top-right-radius: 15px; border-top-left-radius: 15px;">
          <div class="col p-2  ">
  
          <h4 class="display-4" style="color: white;" >Giochi Pubblicati</h4>
	        
	        
	      
          <div th:if="${user.developedGames==null || user.developedGames.isEmpty()}" class="carta-testo">Non ci sono Giochi pubblicati</div>
	
			 <div class="row justify-content-center">
		            <div  class="col-lg-2 col-md-3 mb-2" th:each="game , iterStat : ${user.developedGames}"  >
		                
		                    <div class="card coluno" style="border-radius: 20px;border-color: #b5e8e9; border-style: double;">
		                        <span><img width="75%" th:src=${game.copertina} class="mt-3" style="border-radius: 20px;height: 70%;"/></span>
		                        <div class="card-body"style="height: 100px;">
		                            <h6 class="card-title carta-testo" th:text="${game.name}"></h6>
		                            <a type="button" class="btn btn-outline-primary btn-sm bi bi-info-square-fill"th:href="@{'/game' + '/' + ${game.id}}"></a>
		                            
					                <a type="button" class="btn btn-outline-primary btn-sm bi bi-trash-fill " data-bs-toggle="modal" data-bs-target="#modal" ></a>
					                <a type="button" class="btn btn-outline-primary btn-sm bi bi-pen-fill" th:href="@{/editGame/{id}(id=${game.id})}"></a>
					  
					                
					         
										
										<!-- Modal -->
										<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
										  <div class="modal-dialog">
										    <div class="modal-content">
										      <div class="modal-header">
										        <h1 class="modal-title fs-5" id="exampleModalLabel">AVVISO!</h1>
										        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										      </div>
										      <div class="modal-body">
										        Se elimini il gioco non sara' piu' possibile recuperarla
										      </div>
										      <div class="modal-footer">
										        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              									<!--<a th:href="@{/ricetta/delete/{id}(id=${ricetta.id})}" class="btn btn-primary">Elimina</a>-->
    											<a class="btn btn-primary" th:href="@{/game/{id}/delete(id=${game.id})}">Elimina</a>

										      </div>
										    </div>
										  </div>
										</div>
				                 </div>
		                    </div>
		                
		                <!-- Chiusura e apertura di una nuova riga ogni 4 elementi -->
		                <div th:if="${iterStat.index % 4 == 3}" class="w-100"></div>
		            </div>
		        </div>
		        
	      
          </div>
  		  
  			
      </div>
      <div class="row blu2 d-flex justify-content-end p-2" style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
 			  <a class="btn btn-outline-light ms-4 my-2" style="width: 20%;"th:href="@{/addGame}"> Aggiungi un Gioco!</a>
	  </div>
	
    </div>
   </section>
    
 <div class="container text-center " >
    <div class="row justify-content-center mb-3" style="gap: 0px;">
      <div class="col-4 p-2 my-1 coluno bordL">
        <h1 class="diplay-6 my-4 carta-testo">VAPORE</h1>
        <a class="btn  btn-outline-light bi bi-person-circle ms-1"  href="/login"> Login</a>
        <a class="btn  btn-outline-primary bi bi-plus-circle-fill ms-1"  href="/registration"> Registrati</a>

      </div>
      <div class="col-8 text-center p-2 my-1 coluno bordR" >
        <h5 class="carta-testo">Chi siamo ?</h5>
        <p class="carta-testo">Siamo Niccolo' e Francesco, studenti di ingegneria con un grande amore per i videogiochi. Abbiamo creato questo web store per portare a voi i migliori giochi disponibili, curando ogni dettaglio per assicurarvi un'esperienza d'acquisto senza precedenti.</p>
      	
      	<div class="d-flex align-items-center justify-content-center" > 
		    <h6 class="carta-testo">Seguici :</h6>
		    <a class="bi bi-instagram mx-2" href="https://www.instagram.com/uniromatre/" ></a>
   		   	<a class="bi bi-youtube" href="https://www.youtube.com/@RomaTRE" ></a>
		    <a class="bi bi-facebook mx-2" href="https://www.facebook.com/universitaroma3/?locale=it_IT" ></a>
		    <a class="bi bi-tiktok" href="https://www.tiktok.com/@uniromatre" ></a>

		    
		</div>
      </div>
    </div>
  </div>

</body>

</html>
