<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VAPORE Developer</title>
    <link rel="stylesheet" href="css/cssBootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/stile.css">
    <link rel="stylesheet" href="css/icons/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css">
    <script defer src="js/bootstrap.bundle.min.js"></script>

</head>
<body class="background">

  
  <nav class="navbar navbar-expand-lg  coluno" style="border-color: white; ">
    <div class="container coluno">
      <a class="navbar-brand " href="#">VAPORE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2 " style="text-decoration: white;" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit" >Search</button>
        </form>
      </div>
    </div>
  </nav>
   
       

  <div class="container my-5 coluno " style="border-radius: 20px; border-color: white; border-style: double;">
        
        
        <div class="row justify-content-center" style="background-image: url(/images/fabbrica.jpg);">
            
            
            <div class="col-lg-4 col-md-6 grid-item my-4 ">
                <img class="img-fluid w-100 mb-3 img-thumbnail shadow-sm rounded-0" src="/images/uomo.jpg" style="width:10%; height: auto;">
                <h2 class="display-4 coluno my-3 ms-3" style="color: white;">
                    Nome Sviluppatore
                </h2>
        

            </div>
        </div>
        
  </div>

  <section id="descrizione">
      <div class="container coluno my-5" style="border-radius: 20px; border-color: white; border-style: double;">
        <h4 class="display-4" style="color: white;" >Informazioni sul profilo</h4>
        <h6 class="display-6 carta-testo">Data di nascita:</h6>
        <h6 class="display-6 carta-testo">Azienda:</h6>

      
      </div>
    </section>


   

      <section id="giochi">
        <div class="container coluno my-5" style="border-radius: 20px; border-color: white; border-style: double;"">
          <h4 class="display-4" style="color: white;" >Giochi Pubblicati</h4>
          
         
          <div class="list-group ">
            <div class="list-group-item py-2 background my-1 testoA">
            <h5 class="mb-1 carta-testo"> titolo recensione</h5>
            <p class="mb-1 carta-testo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus velit deserunt illum.</p>
          </div>
                
          <div class="list-group ">
            <div class="list-group-item py-2 background my-1 testoA">
            <h5 class="mb-1 carta-testo"> titolo recensione</h5>
            <p class="mb-1 carta-testo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus velit deserunt illum.</p>
          </div>
  
          <div class="list-group ">
            <div class="list-group-item py-2 background my-1 testoA">
            <h5 class="mb-1 carta-testo"> titolo recensione</h5>
            <p class="mb-1 carta-testo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus velit deserunt illum.</p>
          </div>
              
             
  
          </div>
  
        
  
        </div>
      </section>
    
  <section id="chisiamo">
      <div class="container coluno" ">
        <h1 class="display-3" style="text-decoration: overline; color: white;">Chi siamo?</h1>
        <p class="small" style="color: white; font-style: italic;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates assumenda dignissimos aperiam sit, cum reiciendis. Aliquid necessitatibus aut at vel voluptas, veniam consectetur tempora eos corporis officiis provident itaque alias?</p>
      </div>
    </section>

</body>

</html>
