<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Edit Customer</title>
	    <link rel="stylesheet" th:href="@{/css/cssBootstrap/bootstrap.min.css}">
	    <link rel="stylesheet" th:href="@{/css/stile.css}">
	    <link rel="stylesheet" th:href="@{/css/icons/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css}">
	    <script defer th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script defer src="js/bootstrap.bundle.min.js"></script>
</head>
<body class="background">

  
  
  
  <nav class="navbar navbar-expand-lg  coluno">
    <div class="container coluno">
      <a class="navbar-brand carta-testo " >VAPORE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active bi bi-house" aria-current="page" style="color: white;" href="/"></a>
          </li>
        </ul>
        
        
        <div sec:authorize="isAnonymous()">
			           <a class="btn bi bi-person-circle ms-1" style="background-color: white;" th:href="@{/login}">Login</a>
			    </div>
	            <div sec:authorize="isAuthenticated()">
				       <a class="btn bi bi-person-circle ms-1" style="background-color: white;" th:href="@{/myPage}">My Page</a>
			     </div>		
		

      </div>
    </div>
  </nav>
   
   
    
  <div class="container my-5 coluno" style="border-radius: 20px; border-color: white; border-style: double;">
    
   
    <div class="row carta-testo d-flex justify-content-center align-items-center" style="height: 300px;">
	  <div class="d-flex justify-content-center align-items-center" style="background-image: url(/images/chiavi.jpeg);border-radius: 15px;border-style: double;border-color: white; background-size: cover; height: 80%; width: 90%;" >
		<div class="col-lg-8" >
            <h2 class="display-1 text-center" style="border-radius: 15px; background-color: rgb(37, 150, 190,0.5);">Edit Game</h2>
        </div>  
	  </div>
        
    </div>
  
  
  
  
    <div class="container d-flex justify-content-center align-items-center">
		
      <form th:action="@{/editGame/{id}(id=${id})}" th:object="${game}"   enctype="multipart/form-data" method="post" style="width: 95%;">
        
        
        <!--Name-->	
        <div class="row my-3">
		  <div class="col">
              <label for="name" class="form-label carta-testo">Name</label>
			  <input id="name" name="name" th:value="*{name}" type="text" class="form-control" placeholder="First name" aria-label="First name">
		  </div>
		<!--releaseDate-->
		  <div class="col">
            <label for="releaseDate" class="form-label carta-testo">Anno di uscita:</label>
			  <input id="releaseDate" name="releaseDate" th:value="*{releaseDate}" type="number" class="form-control" placeholder="Last name" aria-label="Last name">
		  </div>
		</div>
		
		
		 <!--descrizione-->
         <div class="form-group">
             <label class="carta-testo" for="description">Descrizione</label>
             <textarea class="form-control" id="description"  name="description" th:value="*{description}" rows="3" required></textarea>
         </div>
         
         <!--price-->	
        <div class="row my-3">
		  <div class="col">
			  <label class="carta-testo" for="price">Prezzo</label>
             <input type="number" class="form-control" name="price" id="price" th:value="*{price}"  required></input>

		  </div>
		<!--category-->
		  <div class="col">
           <label class="carta-testo" for="category">Categoria</label>
			<select class="form-control" id="category" name="category" th:value="*{category}" required>
				<option value="" disabled selected>Seleziona una categoria</option>
				<option value="Adventure">Adventure</option>
				<option value="Simulation">Simulation</option>
				<option value="Strategy">Strategy</option>
				<option value="Fps">Fps</option>
			</select>
		  </div>
		</div>
		
		<!--foto-->
		<div class="input-group my-2">
		 <input type="file" class="form-control" id="file" name="file">
     	  <label class="input-group-text" for="inputGroupFile02" >Copertina </label>
		</div>
		
		 <!-- fotos -->
	    <div class="input-group my-2">
	      <input type="file" class="form-control" id="additionalFiles" name="additionalFiles" multiple>
	      <label class="input-group-text" for="additionalFiles">Altre Immagini</label>
	    </div>
		
		
		<div class="d-flex justify-content-end align-items-center my-2">
			<button type="submit" class="btn btn-outline-primary">Save</button>	
		</div>
        
      </form>
    </div>
  </div>

  

  <div class="container text-center " >
    <div class="row justify-content-center mb-3" style="gap: 0px;">
      <div class="col-4 p-2 my-1 coluno bordL">
        <h1 class="diplay-6 my-4 carta-testo">VAPORE</h1>
        <a class="btn  btn-outline-light bi bi-person-circle ms-1"  href="/login"> Login</a>
        <a class="btn  btn-outline-primary bi bi-plus-circle-fill ms-1"  href="/registration"> Registrati</a>

      </div>
      <div class="col-8 text-center p-2 my-1 coluno bordR" >
        <h5 class="carta-testo">Chi siamo ?</h5>
        <p class="carta-testo">Siamo Niccolo' e Francesco, studenti di ingegneria con un grande amore per i videogiochi. Abbiamo creato questo web store per portare a voi i migliori giochi disponibili, curando ogni dettaglio per assicurarvi un'esperienza d'acquisto senza precedenti.</p>
      	
      	<div class="d-flex align-items-center justify-content-center" > 
		    <h6 class="carta-testo">Seguici :</h6>
		    <a class="bi bi-instagram mx-2" href="https://www.instagram.com/uniromatre/" ></a>
   		   	<a class="bi bi-youtube" href="https://www.youtube.com/@RomaTRE" ></a>
		    <a class="bi bi-facebook mx-2" href="https://www.facebook.com/universitaroma3/?locale=it_IT" ></a>
		    <a class="bi bi-tiktok" href="https://www.tiktok.com/@uniromatre" ></a>

		    
		</div>
      </div>
    </div>
  </div>
</body>
</html>
