<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VAPORE Registration Developer    </title>
    
     <link rel="stylesheet" href="css/cssBootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/stile.css">
    <link rel="stylesheet" href="css/icons/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css">

    <script defer src="js/bootstrap.bundle.min.js"></script>

</head>
<body class="background">

  
 
  
  <nav class="navbar navbar-expand-lg  coluno">
    <div class="container coluno">
      <a class="navbar-brand carta-testo" >VAPORE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active bi bi-house" aria-current="page" style="color: white;" href="/"></a>
          </li>
        </ul>
        
		
      </div>
    </div>
  </nav>
   
       
  <div class="container my-5">
   
    
    <div class="row justify-content-center background-blur" style="background-image: url(/images/copertina2.jpeg);">
      
      
      <div class="col-xxl-7 col-lg-7 col-md-4 my-3" style="background-color: rgb(37, 150, 190,0.5); border-radius: 20px;">

          <h3 class="display-4 justify-content-center" style="color: white; ">
            Welcome New Developer
          </h3>
           <form style="width: 100%;"  th:action="@{/formRegisterDeveloper}" th:object="${developer}"method="POST" enctype="multipart/form-data">
				
				<!--Name-->	
                <div class="row my-3">
				  <div class="col">
					  
				    <input th:field="*{name}" type="text" class="form-control" placeholder="First name" aria-label="First name" required / >
				  </div>
				  <!--Surname-->
				  <div class="col">
				    <input th:field="*{surname}"  type="text" class="form-control" placeholder="Last name" aria-label="Last name" required />
				  </div>
				</div>
				
				
				<!--sito_url-->
				<div class="input-group my-3">
            	  <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
            	  <input th:field="*{site_url}" type="text" class="form-control" id="basic-url" placeholder="Url Sito personale" aria-describedby="basic-addon3 basic-addon4">
          		 </div>
          		 
          		<!--compagnia-->
				<div class="input-group my-3">
            	  <input th:field="*{company}" type="text" class="form-control" id="company" placeholder="Compagnia di riferimento" aria-describedby="basic-addon3 basic-addon4">
          		 </div>
				
				
          		<!--descrizione-->
        		  <div class="input-group my-3">
 			          <textarea th:field="*{description}" type="text" class="form-control" placeholder="Biografia" aria-label="Company" aria-describedby="basic-addon1"></textarea>
      		    </div>
      		    
      		    
     
      		    <!--Foto-->
				<div class="input-group my-3">
				  <input type="file" class="form-control" id="file" name="file">
				  <label class="input-group-text" for="inputGroupFile02" >Logo</label>
				</div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
              
              
         
      </div>

       
    </div>
  </div>

  
<div class="container text-center " >
    <div class="row justify-content-center mb-3" style="gap: 0px;">
      <div class="col-4 p-2 my-1 coluno bordL">
        <h1 class="diplay-6 my-4 carta-testo">VAPORE</h1>
        <a class="btn  btn-outline-light bi bi-person-circle ms-1"  href="/login"> Login</a>
        <a class="btn  btn-outline-primary bi bi-plus-circle-fill ms-1"  href="/registration"> Registrati</a>

      </div>
      <div class="col-8 text-center p-2 my-1 coluno bordR" >
        <h5 class="carta-testo">Chi siamo ?</h5>
        <p class="carta-testo">Siamo Niccolo' e Francesco, studenti di ingegneria con un grande amore per i videogiochi. Abbiamo creato questo web store per portare a voi i migliori giochi disponibili, curando ogni dettaglio per assicurarvi un'esperienza d'acquisto senza precedenti.</p>
      	
      	<div class="d-flex align-items-center justify-content-center" > 
		    <h6 class="carta-testo">Seguici :</h6>
		    <a class="bi bi-instagram mx-2" href="https://www.instagram.com/uniromatre/" ></a>
   		   	<a class="bi bi-youtube" href="https://www.youtube.com/@RomaTRE" ></a>
		    <a class="bi bi-facebook mx-2" href="https://www.facebook.com/universitaroma3/?locale=it_IT" ></a>
		    <a class="bi bi-tiktok" href="https://www.tiktok.com/@uniromatre" ></a>

		    
		</div>
      </div>
    </div>
  </div>
</body>
</html>
