<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VAPORE Registration Customer    </title>
     <link rel="stylesheet" href="css/cssBootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/stile.css">
    <link rel="stylesheet" href="css/icons/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css">

    <script defer src="js/bootstrap.bundle.min.js"></script>
</head>
<body class="background">

  
  
  
  <nav class="navbar navbar-expand-lg  coluno">
    <div class="container coluno">
      <a class="navbar-brand carta-testo " >VAPORE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active bi bi-house" aria-current="page" style="color: white;" href="/"></a>
          </li>
        </ul>
        
		<div>
		     <div th:if="${userPrincipal == null}">
	           <a class="btn bi bi-person-circle ms-1" style="background-color: white;" th:href="@{/login}">Login</a>
	          </div>
	         <div th:if="${userPrincipal != null}">
	           <a class="btn bi bi-person-circle ms-1" style="background-color: white;" th:href="@{/myPage}">My Page</a>
		     </div>
		 </div>
        <a class="btn  bi bi-cart2 ms-1" style="background-color: white;" href="/cart"></a>

      </div>
    </div>
  </nav>
   
   
       
       
  <div class="container my-5">
   
    
    <div class="row justify-content-center background-blur" style="background-image: url(/images/copertina2.jpeg);">
      
      
      <div class="col-lg-7 col-md-4 my-3" style="background-color: rgb(37, 150, 190,0.5); border-radius: 20px;">

          <h3 class="display-4 justify-content-center" style="color: white; ">
            Welcome New Customer
          </h3>
            <form style="width: 100%;"  th:action="@{/formRegisterCustomer}" th:object="${customer}"method="POST">
				
                <div class="row my-3">
				<!--Name-->	
				  <div class="col-lg-5">
				    <input th:field="*{name}" type="text" class="form-control" placeholder="First name" aria-label="First name">
				  </div>
				 <!--Surname-->
				  <div class="col-lg-5">
				    <input th:field="*{surname}"  type="text" class="form-control" placeholder="Last name" aria-label="Last name">
				  </div>
				</div>
				
				<!--ProfilePic-->
				<div class="input-group " style="width: 92%;">
				  <label class="input-group-text" for="inputGroupFile01">Upload</label>
				  <input th:field="*{profilePic}" type="file" class="form-control" id="inputGroupFile01">
				</div>
                
                <!--Age-->
		        <div class="mb-3" style="width: 40%;">
				  <label for="formAgeInput" class="form-label"></label>
				  <input th:field="*{date}" type="number" class="form-control" id="age" placeholder="Input your age">
				</div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
      </div>

       
    </div>
  </div>

  

    
  <section id="chisiamo">
      <div class="container coluno" >
        <h1 class="display-3" style="text-decoration: overline; color: white;">Chi siamo?</h1>
        <p class="small" style="color: white; font-style: italic;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates assumenda dignissimos aperiam sit, cum reiciendis. Aliquid necessitatibus aut at vel voluptas, veniam consectetur tempora eos corporis officiis provident itaque alias?</p>
      </div>
  </section>

</body>
</html>
