<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VAPORE Game</title>
    <link rel="stylesheet" href="css/cssBootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/stile.css">
    <script defer src="js/bootstrap.bundle.min.js"></script>

</head>
<body class="background">

  
  <nav class="navbar navbar-expand-lg  coluno">
    <div class="container coluno">
      <a class="navbar-brand " href="#">VAPORE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2 " style="text-decoration: white;" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit" >Search</button>
        </form>
      </div>
    </div>
  </nav>
   
       

    <div class="container my-5 coluno">
        
        <h1 class="display-4 coluno">
            Nome Gioco
        </h1>

        <div class="row justify-content-center">
            
            <div class="col-lg-6 col-md-6 grid-item mb-4">
               
                
              <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner">
                  <div class="carousel-item active c-item-game">
                    <img src="/images/minecraft.jpg" class="d-block c-img" alt="Slide 1">
                    
                  </div>
                  <div class="carousel-item c-item">
                    <img src="/images/fifa.jpg" class="d-block w-100 c-img-game" alt="Slide 2">
                    
                  </div>
                  <div class="carousel-item c-item">
                    <img src="/images/cod.jpg" class="d-block w-100 c-img-game" alt="Slide 3">
                    
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>

            
            </div>
         
            <div class="col-lg-4 col-md-6 grid-item mb-4 ">
                <img class="img-fluid w-100 mb-3 img-thumbnail shadow-sm rounded-0" src="/images/foto.jpg" alt="">
                <h2 class="h4">Masonry grid item</h2>
                <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        
    </div>

    <section id="descrizione">
      <div class="container coluno my-5">
        <h4 class="display-4" style="color: white;" >Descrizione</h4>
        <p class="display-6">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus dicta voluptatem eveniet dolores. Reprehenderit minus voluptatum, omnis doloribus atque voluptatem tempore repudiandae placeat accusamus laboriosam et voluptates incidunt, soluta recusandae?</p>
      </div>
    </section>

    <section id="recensioni">
      <div class="container coluno my-5">
        <h4 class="display-4" style="color: white;" >Recensioni</h4>
        <p class="display-6">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus dicta voluptatem eveniet dolores. Reprehenderit minus voluptatum, omnis doloribus atque voluptatem tempore repudiandae placeat accusamus laboriosam et voluptates incidunt, soluta recusandae?</p>
      </div>
    </section>




    
    <section id="chisiamo">
      <div class="container coluno" ">
        <h1 class="display-3" style="text-decoration: overline; color: white;">Chi siamo?</h1>
        <p class="small" style="color: white; font-style: italic;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates assumenda dignissimos aperiam sit, cum reiciendis. Aliquid necessitatibus aut at vel voluptas, veniam consectetur tempora eos corporis officiis provident itaque alias?</p>
      </div>
    </section>

</body>

</html>
