<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VAPORE Game</title>
    <link rel="stylesheet" href="/css/cssBootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/stile.css">
    <link rel="stylesheet" href="/css/icons/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css">

    <script defer src="/js/bootstrap.bundle.min.js"></script>

</head>
<body class="background">

  
 <nav class="navbar navbar-expand-lg  coluno">
    <div class="container coluno">
      <a class="navbar-brand " >VAPORE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active bi bi-house" aria-current="page" href="/"></a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2 " style="text-decoration: white;" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit" >Search</button>
        </form>
        <a class="btn bi bi-person-circle ms-1" style="background-color: white;" href="/login"></a>
        <a class="btn  bi bi-cart2 ms-1" style="background-color: white;" href="/cart"></a>

      </div>
    </div>
  </nav>
       

 
  <div class="container my-5 coluno " style="border-radius: 20px; border-color: white; border-style: double;">
        
        <h2 class="display-4 coluno my-3 ms-3" style="color: white;" th:text="${game.name}">
            Nome Gioco
            
        </h2>

        <div class="row justify-content-center">
            
            <div class="col-lg-6 col-md-6 grid-item mb-4">
               
                
              <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner">
                  <div class="carousel-item active c-item-game" th:each="image, iterStat : ${game.images}" th:class="${iterStat.index == 0} ? 'carousel-item active' : 'carousel-item'">
                		<img th:src="@{/images/{image}(image=${image})}" class="d-block w-100 c-img-game img-thumbnail shadow-sm rounded-0" alt="Game Image">
                  </div>
                 
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>

            
            </div>
         
            <div class="col-lg-4 col-md-6 grid-item mb-4 ">
                <img class="img-fluid w-90 mb-3 img-thumbnail shadow-sm rounded-0"th:src=${game.copertina} alt="">
                <h2 class="h4" style="color: white;" th:text="${game.name}"></h2>
                
				<h6 class="d-inline" style="color: white;">DATA DI RILASCIO: </h6>
				<h6 class="d-inline" style="color: white;" th:text="${game.releaseDate}"></h6>

				<h6 class="d-inline" style="color: white;">SVILUPPATORE: </h6>
				<h6 class="d-inline" style="color: white;" th:text="${game.developer}"> nome sviluppatore</h6>

				<h6 class="d-inline" style="color: white;">GAME'S CATEGORY: </h6>
				<h6 class="d-inline" style="color: white;" th:text="${game.category}"> nome categoria</h6>
				
				


            </div>
        </div>
        
  </div>
  
  
 

 
  <section id="descrizione">
      <div class="container coluno my-5" style="border-radius: 20px; border-color: white; border-style: double;">
        <h4 class="display-4" style="color: white;">Informazioni sul gioco</h4>
        <p style="color: white;">
          Bethesda Game Studios, pluripremiati creatori di Fallout 3 e The Elder Scrolls V: Skyrim, vi danno il benvenuto nel mondo di Fallout 4, il loro gioco più ambizioso di sempre e la nuova generazione dei giochi in un mondo aperto.
          Come unico sopravvissuto del Vault 111 devi affrontare un mondo distrutto dalla guerra nucleare. Ogni istante è una lotta per la sopravvivenza e ogni scelta spetta a te. Solo tu puoi ricostruire e definire il destino della Zona Contaminata. Benvenuto a casa.
          <br>
          CARATTERISTICHE:
          Indipendenza e libertà!
          Fai tutto ciò che vuoi in un enorme mondo aperto con centinaia di località, personaggi e missioni. Diventa parte di numerose fazioni che lottano per il potere, oppure agisci in autonomia: hai tutta la libertà di scegliere.
          <br>
          Sei S.P.E.C.I.A.L!
          Diventa ciò che vuoi essere con il sistema S.P.E.C.I.A.L., da soldato con armatura atomica a oratore carismatico. Puoi scegliere fra centinaia di abilità extra e sviluppare uno stile di gioco tutto tuo.
          
          Pixel superlussuosi!
          Un nuovissimo motore grafico di nuova generazione rende il mondo di Fallout vivo come non mai. Ogni località, dalle foreste devastate del Commonwealth alle rovine di Boston, è colma di dettagli dinamici.
          
          Violenza e S.P.A.V.!
          L'intenso combattimento in prima e terza persona può essere rallentato con il nuovo sistema di puntamento assistito Vault-Tec (S.P.A.V.), che ti permette di scegliere gli attacchi e di goderti una carneficina cinematica.
          
          Raccogli e costruisci!
          Raccogli, migliora e costruisci migliaia di oggetti nel sistema di produzione più avanzato di sempre. Armi, armature, sostanze chimiche e cibo non sono che l’inizio: puoi dar vita a interi insediamenti, e poi gestirli.</p>
      </div>
    </section>



<section id="recensioni">
      <div class="container coluno my-5" style="border-radius: 20px; border-color: white; border-style: double;">
        <h4 class="display-4" style="color: white;" >Recensioni</h4>
        
       
        <div class="list-group ">
          <div class="list-group-item py-2 background my-1 testoA">
          <h5 class="mb-1 carta-testo"> titolo recensione</h5>
          <p class="mb-1 carta-testo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus velit deserunt illum.</p>
        </div>
              
        <div class="list-group ">
          <div class="list-group-item py-2 background my-1 testoA">
          <h5 class="mb-1 carta-testo"> titolo recensione</h5>
          <p class="mb-1 carta-testo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus velit deserunt illum.</p>
        </div>

        <div class="list-group ">
          <div class="list-group-item py-2 background my-1 testoA">
          <h5 class="mb-1 carta-testo"> titolo recensione</h5>
          <p class="mb-1 carta-testo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus velit deserunt illum.</p>
        </div>
            
           

        </div>

      

      </div>
    </section>



    
    <section id="chisiamo">
      <div class="container coluno">
        <h1 class="display-3" style="text-decoration: overline; color: white;">Chi siamo?</h1>
        <p class="small" style="color: white; font-style: italic;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates assumenda dignissimos aperiam sit, cum reiciendis. Aliquid necessitatibus aut at vel voluptas, veniam consectetur tempora eos corporis officiis provident itaque alias?</p>
      </div>
    </section>

</body>

</html>
