<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="bi bi-house">VAPORE</title>
    <link rel="stylesheet" href="css/cssBootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/stile.css">
    <link rel="stylesheet" href="css/icons/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css">

    <script defer src="js/bootstrap.bundle.min.js"></script>



</head>
<body class="background">

  

  
  <nav class="navbar navbar-expand-lg  coluno">
    <div class="container coluno">
      <a class="navbar-brand carta-testo" >VAPORE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active bi bi-house " style="color: white;" aria-current="page" href="/"></a>
          </li>
        </ul>
        
        
        
        
        <div class="row d-flex justify-content-end">
					
		   <div class="col d-flex justify-content-end">
			   
			   
			   <form class="d-flex d-flex justify-content-end" role="search"  action="/foundGames" method="GET">
		          <input class="form-control me-2 "  name="name" style="text-decoration: white;" type="search" placeholder="Search" aria-label="Search">
		
		          <button class="btn btn-outline-success" type="submit" >Search</button>
		        </form>
			   
			   
				<div sec:authorize="isAnonymous()">
			           <a class="btn bi bi-person-circle ms-1" style="background-color: white;" th:href="@{/login}">Login</a>
			    </div>
	            <div sec:authorize="isAuthenticated()">
				       <a class="btn bi bi-person-circle ms-1" style="background-color: white;" th:href="@{/myPage}">My Page</a>
			     </div>		
			
				<div class=" d-flex justify-content-end">
     				 <a class="btn  bi bi-cart2 ms-1" style="background-color: white;" href="/cart"></a>
				</div>
				
		    </div>
		    
		    
		 </div>
		
        

      </div>
    </div>
  </nav>
   
 


   <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner carosello2">
      <div class="carousel-item active c-item">
        <img src="/images/carosello/minecraft.jpg" class="d-block w-100 c-img  img-thumbnail shadow-sm rounded-0" alt="Slide 1">
        <div class="carousel-caption top-0 mt-4">
          <p class="mt-5 fs-3 text-uppercase">Discover the beauty of PLAY</p>
          <h1 class="display-1 fw-bolder text-capitalize">The creativity</h1>
        </div>
      </div>
      <div class="carousel-item c-item">
        <img src="/images/carosello/fifa.jpg" class="d-block w-100 c-img  img-thumbnail shadow-sm rounded-0" alt="Slide 2">
        <div class="carousel-caption top-0 mt-4">
          <p class="text-uppercase fs-3 mt-5">Play versus the WORD</p>
          <p class="display-1 fw-bolder text-capitalize">Available h24</p>
        </div>
      </div>
      <div class="carousel-item c-item">
        <img src="/images/carosello/cod.jpg" class="d-block w-100 c-img  img-thumbnail shadow-sm rounded-0" alt="Slide 3">
        <div class="carousel-caption top-0 mt-4">
          <p class="text-uppercase fs-3 mt-5">Response to your DUTY</p>
          <p class="display-1 fw-bolder text-capitalize">don't die</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


 <div class="container text-center justify-content-center my-5">
    
    <a href="#adventure" class="btn btn-primary btn-lg bottone c-img align-items-center " style="background-image: url(/images/adventure.jpeg);background-size: cover; border-style: double; border-color: white;">
      <h5 class="my-4" >ADVENTURE</h5></a>
    <a href="#action" class="btn btn-primary btn-lg bottone c-img" style="background-image: url(/images/action.jpg);background-size: cover;background-size: cover; border-style: double; border-color: white;">
      <h5 class="my-4">ACTION</h5></a>
    <a href="#strategy" class="btn btn-primary btn-lg bottone" style="background-image: url(/images/strategy.jpg);background-size: cover;background-size: cover; border-style: double; border-color: white;">
      <h5 class="my-4">STRATEGY</h5></a>
    <a href="#fps" class="btn btn-primary btn-lg bottone" style="background-image: url(/images/fps.jpg);background-size: cover;background-size: cover; border-style: double; border-color: white;">
      <h5 class="my-4">FPS</h5></a>

  </div>

  
  
   <section id="bollenti">
	  <div class="container text-center my-3">
        
		<h1 class="display-4" style="color: white;">
        Best of month
      	</h1>
        <div class="row justify-content-center" style="gap: 0px;">
            <div  class="col-lg-3 col-md-2" th:each="game : ${randomGames}">
                <div th:if="${randomGames==null || randomGames.isEmpty()}" class="carta-testo">Non ci sono</div>

                    <div class="card coluno my-3" style="border-radius: 20px;border-color: white; border-style: double;">
						<span><img width="75%" th:src=${game.copertina} class="mt-3" style="border-radius: 20px;height: 70%;"/></span>
                        <div class="card-body">
                            <h5 class="card-title carta-testo" th:text="${game.name}"></h5>
                            <a type="button" class="btn btn-outline-light"th:href="@{'/game' + '/' + ${game.id}}">Dettagli</a>

                        </div>
                    </div>
                
            </div>
        </div>
    </div>
  </section>


    
     

  
  <section id="adventure">
    <div class="container">
      <h1 class="display-4 coluno p-2 carta-testo" style="border-radius: 20px; border-color: white ; border-style: double;">
            ADVENTURE
        </h1>
    </div>
    <div class="container text-center my-3 ">
		
		
        <div class="row justify-content-center" style="gap: 0px;">
            <div  class="col-lg-3 col-md-2" th:each="game, iterStat : ${games}" th:if="${game.category} == 'Adventure'">
                
                    <div class="card coluno my-3" style="border-radius: 20px;border-color: white; border-style: double;">
						<span><img width="75%" th:src=${game.copertina} class="mt-3" style="border-radius: 20px;height: 70%;"/></span>
                        <div class="card-body">
                            <h5 class="card-title carta-testo" th:text="${game.name}"></h5>
                            <a type="button" class="btn btn-outline-light"th:href="@{'/game' + '/' + ${game.id}}">Dettagli</a>

                        </div>
                    </div>
                
                <!-- Chiusura e apertura di una nuova riga ogni 4 elementi -->
                <div th:if="${iterStat.index % 4 == 3}" class="w-100"></div>
            </div>
        </div>
    </div>
 </section>


 <section id="action">
    <div class="container">
      <h1 class="display-4 coluno p-2 carta-testo" style="border-radius: 20px; border-color: white ; border-style: double;">
            ACTION
        </h1>
    </div>
     <div class="container text-center my-3 ">
        <div class="row justify-content-center" style="gap: 0px;">
            <div  class="col-lg-3 col-md-2" th:each="game, iterStat : ${games}" th:if="${game.category} == 'Action'">
                
                    <div class="card coluno my-3" style="border-radius: 20px;border-color: white; border-style: double;">
						<span><img width="75%" th:src=${game.copertina} class="mt-3" style="border-radius: 20px;height: 70%;"/></span>
                        <div class="card-body">
                            <h5 class="card-title carta-testo" th:text="${game.name}"></h5>
                            <a type="button" class="btn btn-outline-light"th:href="@{'/game' + '/' + ${game.id}}">Dettagli</a>
                        </div>
                    </div>
                
                <!-- Chiusura e apertura di una nuova riga ogni 4 elementi -->
                <div th:if="${iterStat.index % 3 == 2}" class="w-100"></div>
            </div>
        </div>
    </div>
 </section>
 
  <section id="strategy">
    <div class="container">
      <h1 class="display-4 coluno p-2 carta-testo" style="border-radius: 20px; border-color: white ; border-style: double;">
            STRATEGY
        </h1>
    </div>
     <div class="container text-center my-3 ">
        <div class="row justify-content-center" style="gap: 0px;">
            <div  class="col-lg-3 col-md-2" th:each="game, iterStat : ${games}" th:if="${game.category} == 'Strategy'">
                
                    <div class="card coluno my-3" style="border-radius: 20px;border-color: white; border-style: double;">
						<span><img width="75%" th:src=${game.copertina} class="mt-3" style="border-radius: 20px;height: 70%;"/></span>
                        <div class="card-body">
                            <h5 class="card-title carta-testo" th:text="${game.name}"></h5>
                            <a type="button" class="btn btn-outline-light"th:href="@{'/game' + '/' + ${game.id}}">Dettagli</a>
                        </div>
                    </div>
                
                <!-- Chiusura e apertura di una nuova riga ogni 4 elementi -->
                <div th:if="${iterStat.index % 3 == 2}" class="w-100"></div>
            </div>
        </div>
    </div>
 </section>
 
  <section id="fps">
    <div class="container">
      <h1 class="display-4 coluno p-2 carta-testo" style="border-radius: 20px; border-color: white ; border-style: double;">
            FPS
        </h1>
    </div>
     <div class="container text-center my-3 ">
        <div class="row justify-content-center" style="gap: 0px;">
            <div  class="col-lg-3 col-md-2" th:each="game, iterStat : ${games}" th:if="${game.category} == 'Fps'">
                
                    <div class="card coluno my-3" style="border-radius: 20px;border-color: white; border-style: double;">
						<span><img width="75%" th:src=${game.copertina} class="mt-3" style="border-radius: 20px;height: 70%;"/></span>
                        <div class="card-body">
                            <h5 class="card-title carta-testo" th:text="${game.name}"></h5>
                            <a type="button" class="btn btn-outline-light"th:href="@{'/game' + '/' + ${game.id}}">Dettagli</a>
                        </div>
                    </div>
                
                <!-- Chiusura e apertura di una nuova riga ogni 4 elementi -->
                <div th:if="${iterStat.index % 3 == 2}" class="w-100"></div>
            </div>
        </div>
    </div>
 </section>

<div class="container text-center " >
    <div class="row justify-content-center mb-3" style="gap: 10px;">
      <div class="col-4 p-2 my-1 coluno" style="border-radius: 15px;">
        <h1 class="diplay-6 my-4 carta-testo">VAPORE</h1>
        <a class="btn  btn-outline-light bi bi-person-circle ms-1"  href="/login"> Login</a>
        <a class="btn  btn-outline-secondary bi bi-plus-circle-fill ms-1"  href="/registration"> Registrati</a>

      </div>
      <div class="col-7 text-center p-2 my-1 coluno" style="border-radius: 15px;">
        <h5 class="carta-testo">Chi siamo ?</h5>
        <p class="small carta-testo">Siamo un team che ha creato questo blog per rendere meno noisosi le i vostri pranzi e le vostre cene, questo sito web è stato progettato da Niccolo Corraro per il Corso di Sistemi Informativi su Web.</p>
      	
      	<div class="d-flex align-items-center justify-content-center" > 
		    <h6 class="carta-testo">Seguici :</h6>
		    <a class="bi bi-instagram mx-2" href="https://www.instagram.com/nicc.cor/" ></a>
   		   	<a class="bi bi-youtube" href="https://www.youtube.com/" ></a>
		    <a class="bi bi-facebook mx-2" href="https://www.facebook.com/universitaroma3/?locale=it_IT" ></a>
		    <a class="bi bi-tiktok" href="https://www.tiktok.com/@nicc.cor" ></a>

		    
		</div>
      </div>
    </div>
  </div>


</body>
</html>
