<!DOCTYPE html>
<html lang="it">
<head>
      <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VAPORE</title>
    <link rel="stylesheet" href="css/cssBootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/stile.css">
    <link rel="stylesheet" href="css/icons/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css">

    <script defer src="js/bootstrap.bundle.min.js"></script>
</head>
<body class="background">

  
<nav class="navbar navbar-expand-lg  coluno">
    <div class="container coluno">
      <a class="navbar-brand " >VAPORE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active bi bi-house" aria-current="page" href="/"></a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2 " style="text-decoration: white;" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit" >Search</button>
        </form>
        <a class="btn bi bi-person-circle ms-1" style="background-color: white;" href="/login"></a>
        <a class="btn  bi bi-cart2 ms-1" style="background-color: white;" href="/cart"></a>

      </div>
    </div>
  </nav>
   
       
  <div class="container my-5">
   
    
    <div class="row justify-content-center">
        <div class="col-lg-5">
          <h1 class="display-4 justify-content-center" style="color: white;">
            LOGIN
        </h1>
		<form style="width: 100%;" th:action="@{/login}" method="POST">
		    <div class="mb-3">
		        <label for="username" class="form-label" style="color: white;">Email address</label>
		        <input type="email" class="form-control" id="username" name="username" aria-describedby="emailHelp">
		        <div id="emailHelp" class="form-text"></div>
		    </div>
		    <div class="mb-4">
		        <label for="password" class="form-label" style="color: white;">Password</label>
		        <input type="password" class="form-control" id="password" name="password">
		    </div>
		    <button type="submit" class="btn btn-primary">Submit</button>
		</form>
        </div>

        <div class="col-5 p-2 mb-1 d-none d-md-block colquattro">
          <img class="img-fluid img-thumbnail" src="/images/login/copertina.jpeg" style="width: 600px; height: auto;">
        </div>
    </div>
  </div>
  
   <section id="registration">
    <div class="container my-5"> 
   
       <a class="btn bi bi-person-circle ms-1" style="background-color: white;" href="/register"></a>

    
     
    </div>
  
  </section>
  
 


    
  <section id="chisiamo">
      <div class="container coluno" >
        <h1 class="display-3" style="text-decoration: overline; color: white;">Chi siamo?</h1>
        <p class="small" style="color: white; font-style: italic;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates assumenda dignissimos aperiam sit, cum reiciendis. Aliquid necessitatibus aut at vel voluptas, veniam consectetur tempora eos corporis officiis provident itaque alias?</p>
      </div>
  </section>

</body>
</html>

</html>
