<!DOCTYPE html>
<html lang="it">
<head>
      <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VAPORE</title>
    <link rel="stylesheet" href="css/cssBootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/stile.css">
    <link rel="stylesheet" href="css/icons/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css">

    <script defer src="js/bootstrap.bundle.min.js"></script>
</head>
<body class="background">

  

  
  <nav class="navbar navbar-expand-lg  coluno">
    <div class="container coluno">
      <a class="navbar-brand carta-testo" >VAPORE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active bi bi-house" style="color: white;" aria-current="page" href="/"></a>
          </li>
        </ul>
		
		

      </div>
    </div>
  </nav>
   
   
       
  <div class="container my-5">
   
    
    <div class="row justify-content-center">
        <div class="col-lg-5">
          <h1 class="display-4 justify-content-center" style="color: white;">
            LOGIN
        </h1>
		<form style="width: 100%;" th:action="@{/login}" method="POST">
		    <div class="mb-3">
		        <label for="username" class="form-label" style="color: white;">Email address</label>
		        <input type="email" class="form-control" id="username" name="username" aria-describedby="emailHelp">
		        <div id="emailHelp" class="form-text"></div>
		    </div>
		    <div class="mb-4">
		        <label for="password" class="form-label" style="color: white;">Password</label>
		        <input type="password" class="form-control" id="password" name="password">
		    </div>
		    <button type="submit" class="btn btn-primary">Submit</button>
		</form>
        </div>

        <div class="col-5 p-2 mb-1 d-none d-md-block colquattro">
          <img class="img-fluid img-thumbnail" src="/images/login/copertina.jpeg" style="width: 600px; height: auto;">
        </div>
    </div>
  </div>
  
  
  
  
  <section id="registration">
    <div class="container my-5"> 
   
	<div class="row justify-content-center coluno text-center img-thumbnail" style="background-image: url(images/login/copertina.jpeg); background-size: cover; ">
        <div class="col-lg-6 " style="background-color: rgb(37, 150, 190,0.5); border-radius: 20px;">
		   <h3 class="display-6 carta-testo">Non sei ancora registrato? Registrati subito!</h3>
	       <a class="btn bi bi-person-circle ms-1 btn-lg btn-outline-light"  href="/registration">Registrati </a>
          
        </div>

        
    </div>
    
     
    </div>
  
  </section>
  
 


   <div class="container text-center " >
    <div class="row justify-content-center mb-3" style="gap: 0px;">
      <div class="col-4 p-2 my-1 coluno bordL">
        <h1 class="diplay-6 my-4 carta-testo">VAPORE</h1>
        <a class="btn  btn-outline-light bi bi-person-circle ms-1"  href="/login"> Login</a>
        <a class="btn  btn-outline-primary bi bi-plus-circle-fill ms-1"  href="/registration"> Registrati</a>

      </div>
      <div class="col-8 text-center p-2 my-1 coluno bordR" >
        <h5 class="carta-testo">Chi siamo ?</h5>
        <p class="carta-testo">Siamo Niccolo' e Francesco, studenti di ingegneria con un grande amore per i videogiochi. Abbiamo creato questo web store per portare a voi i migliori giochi disponibili, curando ogni dettaglio per assicurarvi un'esperienza d'acquisto senza precedenti.</p>
      	
      	<div class="d-flex align-items-center justify-content-center" > 
		    <h6 class="carta-testo">Seguici :</h6>
		    <a class="bi bi-instagram mx-2" href="https://www.instagram.com/uniromatre/" ></a>
   		   	<a class="bi bi-youtube" href="https://www.youtube.com/@RomaTRE" ></a>
		    <a class="bi bi-facebook mx-2" href="https://www.facebook.com/universitaroma3/?locale=it_IT" ></a>
		    <a class="bi bi-tiktok" href="https://www.tiktok.com/@uniromatre" ></a>

		    
		</div>
      </div>
    </div>
  </div>

</body>
</html>

</html>
