<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VAPORE New Game</title>
    <link rel="stylesheet" href="css/cssBootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/stile.css">
    <link rel="stylesheet" href="css/icons/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css">
    <script defer src="js/bootstrap.bundle.min.js"></script>
</head>
<body class="background">

  
  
  
  <nav class="navbar navbar-expand-lg  coluno">
    <div class="container coluno">
      <a class="navbar-brand " >VAPORE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active bi bi-house" aria-current="page" href="/"></a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2 " style="text-decoration: white;" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit" >Search</button>
        </form>
		<div>
		     <div th:if="${userPrincipal == null}">
	           <a class="btn bi bi-person-circle ms-1" style="background-color: white;" th:href="@{/login}">Login</a>
	          </div>
	         <div th:if="${userPrincipal != null}">
	           <a class="btn bi bi-person-circle ms-1" style="background-color: white;" th:href="@{/myPage}">My Page</a>
		     </div>
		 </div>
        <a class="btn  bi bi-cart2 ms-1" style="background-color: white;" href="/cart"></a>

      </div>
    </div>
  </nav>
   
   
       

  
    
    <div class="container my-5 coluno " style="border-radius: 20px; border-color: white; border-style: double; background-image: url(/images/muro.jpeg);">
    <div class="row justify-content-center background-blur" >
        
      <div class="col-lg-7 col-md-4 my-3" style="background-color: rgb(37, 150, 190,0.8); border-radius: 20px;">

          <h4 class="display-6 carta-testo">
            Nuovo Gioco
          </h4>
           <form th:action="@{/newGame}" method="post" enctype="multipart/form-data" th:object="${game}">
                        
                        <!--nome-->
                        <div class="form-group ">
                            <label class="carta-testo" for="name ">Nome</label>
                            <input type="text" class="form-control" id="name" th:field="*{name}" required>
                        </div>
                        
                        <!--descrizione-->
                        <div class="form-group">
                            <label class="carta-testo" for="description">Descrizione</label>
                            <textarea class="form-control" id="description" th:field="*{description}" rows="3" required></textarea>
                        </div>
                        
                        <!--category-->
                        <div class="form-group">
                            <label class="carta-testo" for="category">Categoria</label>
                            <select class="form-control" id="category" th:field="*{category}" required>
                                <option value="" disabled selected>Seleziona una categoria</option>
                                <option value="Adventure">Adventure</option>
                                <option value="Action">Action</option>
                                <option value="Strategy">Strategy</option>
                                <option value="Fps">Fps</option>
                            </select>
                        </div>
                        
                        
						<div class="input-group my-2">
						  <input type="file" class="form-control" id="file" name="file">
						  <label class="input-group-text" for="inputGroupFile02" >Copertina </label>
						</div>
				   	    
				   	    
				   	     <!--Fotos
						<div class="input-group mt-2">
						  <input type="file" class="form-control" id="file" name="file">
						  <label class="input-group-text" for="inputGroupFile02" >Foto </label>
						</div>
				   	    -->
				   	    
				   	    <!--price-->
                        <div class="form-group">
                            <label class="carta-testo" for="price">Prezzo</label>
                            <input type="number" class="form-control" id="price" th:field="*{price}"  required></input>
                        </div>
                        
                        <!--releaseDate-->
                        <div class="form-group">
                            <label class="carta-testo" for="price">Data di uscita</label>
                            <input type="number" class="form-control" id="releaseDate" th:field="*{releaseDate}" required></input>
                        </div>
                        
                        <button type="submit" class="btn btn-outline-light my-3">Crea Gioco</button>
                    </form>
        
        
        </div>
            
        

        
        
      </div>

    </div>
   
<div class="container text-center " >
    <div class="row justify-content-center mb-3" style="gap: 10px;">
      <div class="col-4 p-2 my-1 coluno" style="border-radius: 15px;">
        <h1 class="diplay-6 my-4 carta-testo">VAPORE</h1>
        <a class="btn  btn-outline-light bi bi-person-circle ms-1"  href="/login"> Login</a>
        <a class="btn  btn-outline-secondary bi bi-plus-circle-fill ms-1"  href="/registration"> Registrati</a>

      </div>
      <div class="col-7 text-center p-2 my-1 coluno" style="border-radius: 15px;">
        <h5 class="carta-testo">Chi siamo ?</h5>
        <p class="small carta-testo">Siamo un team che ha creato questo blog per rendere meno noisosi le i vostri pranzi e le vostre cene, questo sito web è stato progettato da Niccolo Corraro per il Corso di Sistemi Informativi su Web.</p>
      	
      	<div class="d-flex align-items-center justify-content-center" > 
		    <h6 class="carta-testo">Seguici :</h6>
		    <a class="bi bi-instagram mx-2" href="https://www.instagram.com/nicc.cor/" ></a>
   		   	<a class="bi bi-youtube" href="https://www.youtube.com/" ></a>
		    <a class="bi bi-facebook mx-2" href="https://www.facebook.com/universitaroma3/?locale=it_IT" ></a>
		    <a class="bi bi-tiktok" href="https://www.tiktok.com/@nicc.cor" ></a>

		    
		</div>
      </div>
    </div>
  </div>

</body>

</html>
